.modal-header,
.modal-body {
  border-bottom: 1px solid grey;
}

.modal-footer {
  padding-top: 10px;
}

.modal-bg {
  background: #000;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

div#modal {
  max-width: 300px;
  margin: auto;
  position: relative;
  background-color: #fff;
  padding: 15px 30px;
}

#modal {
  display: none;
}

button {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  border: none;
}

button#modal-button {
  background-color: rgb(17, 192, 17);
}

button.close {
  background-color: rgba(228, 3, 3, 0.795);
}